
/* ++++++++++++++++++++++++++Base Setup++++++++++++++++++++++++++*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body 
{
    font-weight: 300;
    font-size: 10px;
    color: #fcf9ff;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
} 

a {
    text-decoration: none;
    color: #fcf9ff;
}

li {
    list-style: none;
}

h2 {
    font-size: 60px;
    font-weight: 500;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

/* ++++++++++++++++++++++++++ hero-section ++++++++++++++++++++++++++*/

.hero-section {
    width: 100vw;
    height : 1080px;
    background-color: #0c1014;
}

/* ++++++++++++++++++++++++++ Nav Bar ++++++++++++++++++++++++++*/

.navbar {
    height: 80px;
    width: 100vw; 
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    background-color: rgba(12,16,20,0.5);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

.nav-logo {
    height: 35px;
    width: auto;
    
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 0 60%;
}

.nav-links li a{
    font-size: 22px;
    font-weight: 400;
    background-image: linear-gradient(to right,
    #0066ff 0%,
    #00ffe0 50%,
    #fcf9ff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.3s ease;
}

.nav-links a:hover{
background-position: 0% 100%;
}


.btn {
    width: 200px;
    height: 40px;
    border: 1px groove #008cff; 
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to right,
        #0066ff 0%,
        #00ffe0 50%,
        #0c1014 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: all 0.2s ease-out;
}

.btn:hover {
    background-position: 0% 100%;
    border: none;
    font-weight: 600;
}

#nav-toggle{
    position: absolute;
    top: -100px;
}



/* ++++++++++++++++++++++++++ Hero-Title ++++++++++++++++++++++++++*/

.hero-content {
    text-align: center;
    font-size: 12vw;
    font-weight: 600;
    position: relative;
    top: 15%;
}


.hero-content h1:first-of-type{
    background-image: linear-gradient(to right bottom, #f53c95,#0044ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.hero-content h1:last-of-type{
    background-image: linear-gradient(to right bottom,#004bfa,#02f18e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-images {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 15%;
    padding: 0 10px;
}

.hero-images img {
    width: 15vw;
    height: auto;
}

.hero-desc {
    text-align: center;
    width: 100%;
    position: relative;
    top: 25%;
}

.hero-desc p {
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 1.7;
}

.download-btn {
    margin: 5% auto;
    position: relative;
}

.signal {
    position: absolute;
    height: 100px;
    width: auto;
    left: 160px;
    top: -50px;
    transform: rotate(-10deg);
}

/*--------------------------- App Section -----------------------------------*/

.app-section {
    height: 1000px;
    width: 100vw;
    position: relative;
    background-image: linear-gradient(to right top,#1100ff 0%,#6f00ff 100%);
}

.backdrop {
    height: 1000px;
    width: 100vw;
    background-image: linear-gradient(to left bottom,#ff004d 0%,#ff3d00 100%);
    clip-path: polygon(100% 0%,0% 100%,100% 100%);
}

/* ---------------------------------------------------------------------------------------------- */

.app-window {
    width: 1400px;
    height: 85%;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 0px 0px 40px 10px #000;
    border-radius: 10px;
}

.app-layout{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}
/* -------------------------------------------------------------------------------------------------- */

.app-server-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 0 0 5%; 
}

.app-window-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-top: 20%;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.dot:nth-child(1){
background-color: #ff0000;
}

.dot:nth-child(2){
    background-color: #ffbb00;
}

.dot:nth-child(3){
    background-color: #03c203;
}

.app-servers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.server{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.server:hover{
    box-shadow: 0 0 5px 4px #fcf9ff;
}

.app-logo {
    margin-bottom: 20%;
    height: 40px;
    width: auto;
}

/* --------------------------------------------------------------------------- */

.app-contacts-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 0 0 20%;
    background-color: #161b1f;
}

#search-box{
    width: 90%;
    height: 40px;
    margin-top: 15%;
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 15px;
}

.new-button {
    margin-top: 20px;
    padding: 6px;
    width: 80%;
    background-color: #0f3ce0;
    border: none;
    color: #fcf9ff;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.new-button:hover{
    background-color: #0f58e0;
    
}

.team-info {
    margin-top: 10%;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0e101a;
}

.team-dp img {
    background-color: #00ffd1;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.team-dp:hover {
    box-shadow: 0 0 5px 4px #00b694;
}

/* ----------------------------------------------------------------------- */

.app-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    cursor: pointer;
}

.app-contacts::-webkit-scrollbar{
    display: none;
}

.app-contacts-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 5%;
    transition: all 0.05s ease-in-out;
}

.app-contacts-list:hover{
    background-color: #1d222f;
}

.app-contacts-list img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10%;
}

.contacts-info p{
    font-size: 10px;
}

/* ----------------------------------------------------------------------------------------- */

.app-chat-section {
    display: flex;
    flex-direction: column;
    flex: 0 0 55%;
    padding: 20px;
}

.app-chat-section-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.chat-users{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-users img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: -5px;
}

.add-user{
    background-color: #00aee5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -5px;
    font-size: 40px;
    text-align: center;
}

/****************************************************************************************** */

.app-chat-history{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 5%;
}

.app-chat-history::-webkit-scrollbar{
    display:none;
}

.chat-history{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.chat-history:not(:first-of-type) {
    margin-top: 50px;
}

.chat-history-dp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.chat-history-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 60px;
    padding: 10px;
    height: 100%;
    background-color: #181b26;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8)
}

.chat-history-2 .stocks{
    height: 190px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.chat-history-text h6{
    margin-bottom: 10px;
    font-weight: 400;
    color: #02f18e;
}

.chat-history-text p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
    text-align: justify;
}

.chat-history-3 img{
    height: 55%;
}

/* ======================================================================= */
/* Text Bar */

.app-text-bar{
    width: 100%;
    height: 30px;
    background-color: #2b2e3c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.text-bar-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    font-size: 14px;
}

.text-bar-right{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 20%;
    border-left: 2px solid black;
}

ion-icon{
    font-size: 20px;
    color: #fcf9ff;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

ion-icon:hover{
    color: #02f18e;
}

.send-outline{
    color: #379e73;
}

/* APP Right Nav */

.app-right-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 0 0 20%;
    background-color: #161b1f;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.app-user{
    width: 100%;
    background-color: #0e101a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.app-user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.app-user-info{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app-user-info p{
    color: #6d6d6d;
    font-size: 14px;
}

.cog-outline{
    color: #6d6d6d;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}

.cog-outline:hover{
    transform: rotate(90deg);
}

/* ------------------------------------------------------------------ */
/* App Widgets */

.app-widgets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
}

.Widgets{
    background-color: #0e101a;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 15px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.Widgets img{
    height: 35px;
}

.widget-4 img,
.widget-5 img{
    height: 30px;
}

.Widgets:hover{
    background-color: #1d222f;
    color: #02f18e;
}

/* +++++++++++++++++++++++++ App Media +++++++++++++++++++++++++++++ */

.app-media {
    margin-top: 5%;
    line-height: 2;
    overflow-y: scroll;
}

.app-media::-webkit-scrollbar{
    display: none;
}

.app-media-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 110px 110px 120px;
    grid-template-columns: 130px 120px;
    grid-gap: 5px;
}

.grid-item {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: grid;
    place-items: center; */
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.grid-item img {
    height: fit-content;
    width: 100%;
}

.item-1 {
    background-color: #ef476f;
    grid-row: 1/2;
    grid-column: 1 / 2;
}

.item-1:hover {
    background-color: #ff003c;
}

.item-2 {
    background-color: #2ab48f;
    grid-row: 2/3;
    grid-column: 1/2;
}

.item-2:hover {
    background-color: #00ffbb;
}

.item-3 {
    background-color: #ffc966;
    grid-row: 1/3;
    grid-column: 2/3;
}

.item-3:hover{
    background-color: #ffa600;
}

.item-4 {
    background-color: #2679aa;
    grid-row: 3/4;
    grid-column: 1/3;
}

.item-4:hover{
    background-color: #00a2ff;
}

.grid-item:hover {
    transform: scale(1.02);
}


/* ++++++++++++++++++++++++++ Stats-Bar-Section+++++++++++++++++++++ */
.stats-section{
    height: 120px;
    width: 100%;
    background-color: #1100ff;
    box-shadow: inset 0 0 10px 10px #0e00cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 250px;
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.stats h3{
    font-size:32px;
    font-weight: 500;
}

.stats p{
    margin-top: 10%;
    font-size: 18px;
    font-weight: 400;
}

.stats-1,
.stats-2,
.stats-3{
    border-right: 4px solid #fcf9ff;
} 
/* ++++++++++++++++++++++++++ Why-Section++++++++++++++++++++++++++ */

.why-section{
    height: 900px;
    width: 100%;
    background-color: #0c1014;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
}

.why-section-left{
    height: 100%;
    flex: 0 0 50%;

}

.why-section-left h2{
    font-size: 60px;
}

.why-section-left h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2%;
}

.l-angle{
    margin-left: 40px;
    margin-top: 10px;
}

.key-points{
    margin-left: 120px;
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75%;
}

.why-section-left p{
    font-size: 18px;
    color: #a7a7a7;
    line-height: 1.7;
    text-align: justify;
    margin: 5% 0;
}

.why-section-right{
    height: 100%;
    flex: 0 0 50%;
}

.why-section-right img{
    height: 100%;
    width: auto;
}

/*++++++++++++++++++++++++++++++ About-Section +++++++++++++++++++++++++++++ */

.about-section{
    height: 800px;
    background-color: #fcf9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.about-section img{
    height: 65vh;
    width: 100%;
    margin: 0 50px;
}

.about-span{
    color: #2020ff;
    font-weight: 600;
}

.about-section-content p{
    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
}

/* +++++++++++++++++++++++ Plan-Section ++++++++++++++++++++++++++++ */

.plan-section{
    height: 800px;
    background-color: #0c1014;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.plan-title{
    text-align: center;
    line-height: 1.5;
}

.plan-title h2{
    font-size: 60px;
    font-weight: 500;
}

.plan-section p{
    font-size: 20px;
    font-weight: 400;
}

.card-section h3{
    font-size: 32px;
    font-weight: 600;
}

.card-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.card{
    height: 450px;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 5px #000;
    transition: all 0.2s;
}

.card-1,
.card-3{
    background-color: #fcf9ff;
    color: #0c1014;
}

.card-2{
    background-color: #2020ff;
    color: #fcf9ff;
    z-index: 10;
    margin: 0 -70%;
}

.card .card-plan{
    text-align: center;
    margin-top: 5%;
    line-height: 2;
}

.card .card-plan button{
    background-color: #e7e7e7;
    height: 40px;
    width: 150px;
    margin-top: 15%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card .card-header{
    line-height: 1.5;
}

.card-section:hover .card{
    filter: blur(10px);
    transform: scale(0.9);
}

.card-section .card:hover{
    z-index: 20;
    filter: blur(0);
    transform: scale(1);
}

.support-section{
    background-color: #0c1014;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support-header{
    margin-top: 50px;

}

.support-article{
    margin-top: 2%;
    background-color: #0c1014;
    width: 1200px;
    height: 750px;
    box-shadow: 0 0 40px 10px #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container {
    padding: 20px;
}

.support-section h2{
    font-size: 60px;
    font-weight: 500;
}

/* css attribute selectors */

input[type="text"],
input[type="submit"],
input[type="email"],
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background-color: #f3e7d9;
    border: none;
}

.check-box {
    font-size: 16px;
}

input[type="checkbox"]{
    margin-top: 20px;
}

input[type="submit"]{
    background-color: #11dd22;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

input[type="submit"]:hover{
    opacity: 0.8;
}

.support-article img{
    width: 50%;
    height: 100%;
}

.footer{
    height: 150px;
    width: 100%;
    background-color: #181b26;
    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav{
    height: 100%;
    width: 100%;
}

.footer-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-logo{
    height: auto;
    width: 60%;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.footer-links li{
    margin: 0px 20px;
    font-size: 18px;
}

.footer-bottom .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-out;
}

.footer-links a:hover{
    color: #00ffe0;
}